data/mysql/data/
data/mysql/data/*
*.pem
*.key
*.pid
*.sock
data/
tmp/
app/user/rpc/etc/user.yaml
app/user/api/etc/usercenter.yaml
app/community/rpc/etc/community.yaml
app/community/api/etc/community.yaml
app/post/rpc/etc/post.yaml
app/post/api/etc/post.yaml
app/comment/rpc/etc/comment.yaml
app/comment/api/etc/comment.yaml
app/vote/rpc/etc/votecenter.yaml
app/vote/api/etc/vote.yaml
.VSCodeCounter
*.png