data/mysql/data/
data/mysql/data/*
*.pem
*.key
*.pid
*.sock
data/
tmp/
app/user/rpc/etc/user.yaml
app/user/api/etc/usercenter.yaml
app/community/rpc/etc/community.yaml
app/community/api/etc/community.yaml